{% extends 'base.html' %}

    {% block title %}
        Change Password Successful
    {% endblock %}


    {% block breadcrumb %}
        <li class="breadcrumb-item">
            <a href="{% url 'change_password'%}"> change_password </a>
        </li>
        <li class="breadcrumb-item active">
            Success
        </li>
    {% endblock %}


    {% block content %}
        <div class="alert alert-success" role="alert">
            Your Password has been changes :)
        </div>
        <a href="{% url 'home' %}"> return to Home </a>
    {% endblock %}

